<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <div class="main-containt">
      {{>headers}}
      <p>Welcome to Weather app. These site gives you information about the wheather</p>
   </div>
    <img src="road-1072823__340.jpg">
     {{>footers}}
</body>
</html>