<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-containt">
      {{>headers}}
      <p>Welcome to Weather app</p>
   </div>
    {{>footers}}
</body>
</html>