<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <div class="main-containt">
      {{>headers}}
       <p>Welcome to Weather app</p>
      <form>
         <input placeholder="Location">
         <button>search</button>
      </form>
      <p id='message_1'></p>
      <p id='message_2'></p>

    <script src="/js/app.js"></script>   
   </div>
   
   {{>footers}}
</body>
</html>